.box {
    margin: 0.5em;
    color: white;
    padding: 0 1em;
  }

  .bottom {
    position: absolute;
    bottom: 3em;
  }

  .left {
    position: absolute;
    left: 2em;
    text-align: left;
  }